<ng-container *ngIf="retrospective">
    <div>
        <div>
            <div>
                <div class="chart " style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="barChartColors"
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
    <ul *ngFor="let key of sprints">
        <li><a *ngIf="key !== null" href="{{urls.get(key)}}" target="_blank"> <b>Tickets ajoutés:</b> {{key}}</a></li>
    </ul>
</ng-container>
