<div class = "chart" style="display: block;">
    <canvas baseChart  width="8" height="2"
            [datasets]="barChartDataFront"
            [labels]="barChartLabelsFront"
            [options]="barChartOptionsFront"
            [colors]="barChartColors"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>

<div class = "chart" style="display: block;">
    <canvas baseChart  width="8" height="2"
            [datasets]="barChartDataMiddle"
            [labels]="barChartLabelsMiddle"
            [options]="barChartOptionsMiddle"
            [colors]="barChartColors"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>
