table {
  width: 80%;
  margin-top: 200px;
  margin-bottom: 200px;
}
i{
  font-size: 14px;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}
td.is-green {
  background : #26A65B;
}
td.is-red {
  background : #e95549;
}

td.is-orange {
  background : #FFA400;
}
.mat-header-cell{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}
td.mat-cell{
  font-size: 20px;
  text-align: center;
}

tr.grey-background{
  background-color: lightgrey;
}

mat-form-field{
  width: 50%;
}
mat-select{
  text-align: center;
}
