table {
  width: 75%;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}
td.is-green {
  background : #5dd340;
}
td.is-red {
  background : #e95549;
}

td.is-orange {
  background : #f1d03e;
}
