<table class="center" mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Identity Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[0]> Développeur </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Development Time Column -->
  <ng-container matColumnDef="devTime">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[1]> Temps de dév total (h) </th>
    <td mat-cell *matCellDef="let element"> {{element.devTime}} </td>
  </ng-container>

  <!-- Allocated Time Column -->
  <ng-container matColumnDef="allocatedTime">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[2]> &Sigma;Estimated Time (h) </th>
    <td mat-cell *matCellDef="let element"> {{element.allocatedTime}} </td>
  </ng-container>

  <!-- Consumed Time Column -->
  <ng-container matColumnDef="consumedTime">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[3] > &Sigma;Logged Time (h) </th>
    <td mat-cell *matCellDef="let element"> {{element.consumedTime}} </td>
  </ng-container>

  <!-- Left To Do Column -->
  <ng-container matColumnDef="leftToDo">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[4]>&Sigma;Remaining Time (h)</th>
    <td mat-cell *matCellDef="let element" [ngClass]="{
      'is-green' : element.leftToDo <= element.availableTime,
      'is-orange': element.leftToDo > element.availableTime && element.leftToDo <= 1.2*element.availableTime,
      'is-red' : element.leftToDo > 1.2* element.availableTime
      }"> {{element.leftToDo}} </td>
  </ng-container>

  <!-- Available Time Column -->
  <ng-container matColumnDef="availableTime">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[5]>Temps de dév restant (h)</th>
    <td mat-cell *matCellDef="let element"> {{element.availableTime}} </td>
  </ng-container>

  <!-- Total number of tickets Column -->
  <ng-container matColumnDef="tickets">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[7]>Tickets alloués</th>
    <td mat-cell *matCellDef="let element"> {{element.tickets}} </td>
  </ng-container>

  <!-- Tickets done Column -->
  <ng-container matColumnDef="ticketsDone">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[8]>Tickets finis</th>
    <td mat-cell *matCellDef="let element"> {{element.ticketsDone}} </td>
  </ng-container>
  <!-- Tickets done Column -->
  <ng-container matColumnDef="ticketsDevDone">
    <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[9]>Tickets supérieur à "Dev Terminé"</th>
    <td mat-cell *matCellDef="let element"> {{element.ticketsDevDone}} </td>
  </ng-container>

  <tr mat-header-row   *matHeaderRowDef="displayedColumns" ></tr>
  <tr [ngClass]="{
      'grey-background' : i%2 == 0
      }" mat-row *matRowDef="let row ; columns: displayedColumns ; let i = index"></tr>
</table>

