table.alignement{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

thead.size{
    font-size: 20px;
}


tbody.size{
    font-size: 25px;
}

td.centered{
    text-align: center;
}

th.centered{
    text-align: center;
}

thead.background-color{
    background-color: aliceblue;
}

