<div class="size">Estimation des tickets</div>
<table class="table table-bordered alignement table-responsive">
    <!-- Headers -->
    <thead class="size background-color">
    <tr>
        <th class="centered" scope="col" matTooltip="Nombres de fiches dans un état supérieur à 'Dév terminé' dans le workflow JIRA"
            matTooltipPosition="above">Nb fiches développées</th>
        <th class="centered" scope="col" matTooltip="Nombres de fiches dont le temps de résolution a été au moins inférieur à 80% du temps estimé originellement"
            matTooltipPosition="above">Nb fiches sous estimées</th>
        <th class="centered" scope="col" matTooltip="Nombres de fiches dont le temps de résolution a été au moins supérieur à 120% du temps estimé originellement"
            matTooltipPosition="above">Nb fiches sur estimées</th>
        <th class="centered" scope="col" matTooltip="Nombres de fiches dont le temps de résolution est compris entre 80% et 120% du temps estimé originellement"
            matTooltipPosition="above">Nb fiches bien estimées</th>
        <th class="centered" scope="col" matTooltip="Pourcentage de fiches bien estimées"
            matTooltipPosition="above">Taux fiabilité d'estimation unitaire</th>
        <!-- <th class="centered" scope="col">Taux fiabilité d'estmation horaire</th> -->
    </tr>
    </thead>

    <!-- Rows -->
    <tbody class="size">
    <tr class="s">
        <td class="centered" >{{supDevDoneTickets}}</td>
        <td class="centered">{{underEstimatedTickets}}</td>
        <td class="centered">{{overEstimatedTickets}}</td>
        <td class="centered">{{wellEstimatedTickets()}}</td>
        <td class="centered" >{{(wellEstimatedTickets()/ supDevDoneTickets) * 100 | number: '1.0-1'}} %</td>
        <!-- <td class="centered">TO_DO</td> -->
    </tr>
    </tbody>
</table>


