<ng-container *ngIf="backlog">
    <div class="flex">
        <div class="flex-item">
            <div class="line-chart">
                <canvas baseChart
                        [datasets]="lineChartData || []"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                ></canvas>
                <p>
                    <b>&sum;Created = </b> {{this.sumCreated}} <br/>
                    <b>&sum;Resolved = </b> {{this.sumResolved}} <br/>
                </p>
            </div>

        </div>
    </div>
</ng-container>




