<mat-toolbar>
  <span>
        <img src="https://www.april-on.fr/assets/april.png" alt="https://www.april-on.fr/assets/april.png" style="height:100px; width: 100px;">
  </span>
    <div class="spacer"></div>
    <a mat-button href="/">Home</a>
    <a mat-button href="/sprint/all">Developers</a>
    <a mat-button href="/sprint/alpha">Team Alpha</a>
    <a mat-button href="/sprint/beta">Team Beta</a>
    <a mat-button href="/sprint/gamma">Team Gamma</a>
    <a mat-button href="/sprint/teams">Teams</a>
</mat-toolbar>
