<mat-toolbar class="mat-elevation-z8">
  <span class="align">
        <img class="align" src="https://www.april-on.fr/assets/april.png" alt="https://www.april-on.fr/assets/april.png"
             style="height:75px; width: 75px;">
    Reporting
  </span>
    <div class="spacer"></div>
    <a mat-button href="/">Home</a>
    <a mat-button href="/sprint/all">Developers</a>
    <a mat-button href="/sprint/alpha">Alpha</a>
    <a mat-button href="/sprint/beta">Beta</a>
    <a mat-button href="/sprint/gamma">Gamma</a>
    <a mat-button href="/sprint/delta">Delta</a>
    <a mat-button href="/sprint/teams">Teams</a>
    <a mat-button href="/backlog">Backlog BKMP (Bug)</a>
    <a mat-button href="/release">Releases</a>
</mat-toolbar>
