.header-title{
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
}

div.size{
    font-size: 25px;
    width: 75%;
    margin: 20px auto 30px;
}

div.spacing{
    margin-top: 50px;
}
