table {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}

.mat-header-cell{
    font-size: 18px;
    text-align: center;
}
td.mat-cell{
    font-size: 18px;
    text-align: center;
}
