.app-progress-bar{
    width: 50%;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

p{
    padding: 20px;
    text-align: center;
}






