<p>
    <b>Dates du Sprint: </b>{{dateDebut | date}} &rarr; {{dateFin | date}} <br/>
    <b>Nombre de jours restant / de dépassement </b>{{diffTime}}<br/>



</p>

<mat-progress-bar mode="determinate" class="app-progress-bar" value={{progression}}></mat-progress-bar>
<p>
    <b>Progression sur le sprint: </b>{{progression}}% <br/>
    <b>Nombre de Story Points dans le sprint attribué à l'équipe: </b> {{nbSpTotal}} <br/>
    <b matTooltip="Story points dans les états JIRA suivants : A valider, Validé en recette, Terminé, Abandonné, Livré">Nombre de Story Points finis: </b> {{nbSpDoneTotal}} <br/>
    <b>Nombre de Story Points en cours/dév terminé: </b> {{nbSpEnCoursDevTermine}} <br/>
    <b>Nombre de Story Points à tester: </b> {{nbSpATester}}


</p>


