
.app-progress-bar{
    width: 50%;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;

}

p.sprint{
    text-align: left;
}






