table{
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}
i{
    font-size: 15px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
td.is-green {
    background : #26A65B;
}
td.is-red {
    background : #e95549;
}

td.is-orange {
    background : #FFA400;
}
.mat-header-cell{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
}
td.mat-cell{
    font-size: 20px;
    text-align: center;
}

tr.grey-background{
    background-color: lightgrey;
}

mat-form-field{
    width: 50%;
}
mat-select{
    text-align: center;
}

.firstGroupColor{
    background-color: lightblue;
}

.secondGroupColor{
    background-color: midnightblue;
    color: white;
}


.cell-borders{
    text-align: center;
    border: 1px solid black;
    padding: 0 !important;
}

.cell-borders-bottom{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0 !important;
}
