<table class="center" mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Identity Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[0]> Développeur </th>
        <td mat-cell class="cell-borders" *matCellDef="let element">
            {{element.name}} <br/>
            <i *ngIf="element.role !== null">({{element.role}})</i>
        </td>
    </ng-container>

    <!-- Not Dev days Column -->
    <ng-container matColumnDef="notDevDays">
        <th mat-header-cell *matHeaderCellDef [matTooltip]=displayedTooltip[1]>Activités non dév <br/> (run/crémonies)</th>
        <td mat-cell class="cell-borders" *matCellDef="let element; let i = index">
            <mat-form-field>
                <mat-select [ngModel]="dataSource[i].runDays" name="runDays" (selectionChange)="changeRowValues($event,i)">
                    <mat-option *ngFor="let runDays of nbRunDays" [value]="runDays.value">
                        {{runDays.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Development Time Column -->
    <ng-container matColumnDef="devTime">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[2]> Capacité <br/>totale </th>
        <td mat-cell class="cell-borders" *matCellDef="let element">{{getTimeFormat(element.devTime)}}</td>
    </ng-container>

    <!-- Allocated Time Column -->
    <ng-container matColumnDef="allocatedTime">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[3]> Temps assigné </th>
        <td mat-cell class="cell-borders" *matCellDef="let element" [ngClass]="{
      'is-green' : element.allocatedTime <= LOWER_BOUND_MULTIPLIER * element.devTime && (element.devTime != null && element.allocatedTime != null),
      'is-orange': element.allocatedTime > LOWER_BOUND_MULTIPLIER * element.devTime && element.allocatedTime <= UPPER_BOUND_MULTIPLIER*element.devTime && (element.devTime != null && element.allocatedTime != null),
      'is-red' : element.allocatedTime > UPPER_BOUND_MULTIPLIER* element.devTime && (element.devTime != null && element.allocatedTime != null)
      }">{{getTimeFormat(element.allocatedTime)}}</td>
    </ng-container>

    <!-- Log Time Column -->
    <ng-container matColumnDef="consumedTime">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[4] >Temps log</th>
        <td mat-cell class="cell-borders" *matCellDef="let element">{{getTimeFormat(element.consumedTime)}}</td>
    </ng-container>

    <!-- Time Left Column -->
    <ng-container matColumnDef="availableTime">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[5]>Capacité <br/>restante</th>
        <td mat-cell class="cell-borders" *matCellDef="let element">{{getTimeFormat(element.availableTime)}}</td>
    </ng-container>

    <!-- Left To Do Column -->
    <ng-container matColumnDef="leftToDo">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[6]>Reste à faire</th>
        <td mat-cell class="cell-borders" *matCellDef="let element" [ngClass]="{
      'is-green' : element.leftToDo <= LOWER_BOUND_MULTIPLIER * element.availableTime && (element.leftToDo != null && element.availableTime != null),
      'is-orange': element.leftToDo > LOWER_BOUND_MULTIPLIER * element.availableTime && element.leftToDo <= UPPER_BOUND_MULTIPLIER*element.availableTime && (element.leftToDo != null && element.availableTime != null),
      'is-red' : element.leftToDo > UPPER_BOUND_MULTIPLIER* element.availableTime && (element.leftToDo != null && element.availableTime != null)
      }">{{getTimeFormat(element.leftToDo)}}</td>
    </ng-container>

    <!-- Tickets Column -->
    <ng-container matColumnDef="tickets">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[7]>Tickets <br/> (finis / total)</th>
        <td mat-cell class="cell-borders" *matCellDef="let element" > <sup>{{element.ticketsDone}}</sup>/<sub>{{element.tickets}}</sub> </td>
    </ng-container>

    <!-- Jira link to issues Column-->
    <ng-container matColumnDef="url">
        <th mat-header-cell class="cell-borders" *matHeaderCellDef [matTooltip]=displayedTooltip[8]>Tâches assignées</th>
        <td mat-cell class="cell-borders" *matCellDef="let element">
            <a *ngIf="element.url != ''" href="{{this.getJqlKeysList(element.url)}}" target="_blank">Lien Jira</a>
    </ng-container>


    <ng-container matColumnDef="header-first">
        <th mat-header-cell *matHeaderCellDef
            [attr.colspan]="1">
        </th>
    </ng-container>
    <ng-container matColumnDef="header-second">
        <th mat-header-cell class="cell-borders firstGroupColor" *matHeaderCellDef
            [attr.colspan]="3">
            Prévisions <br/>(jours)
        </th>
    </ng-container>
    <ng-container matColumnDef="header-third">
        <th mat-header-cell class="cell-borders secondGroupColor" *matHeaderCellDef
            [attr.colspan]="3">
            Activités <br/>(jours)
        </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['header-first', 'header-second', 'header-third']"></tr>
    <tr  class ="cell-borders" mat-header-row   *matHeaderRowDef="displayedColumns" ></tr>
    <tr class ="cell-borders" [ngClass]="{
      'grey-background' : i%2 == 0
      }" mat-row *matRowDef="let row ; columns: displayedColumns ; let i = index"></tr>
</table>
