<ng-container *ngIf="sprints">
    <table class="table table-bordered alignement table-responsive">
        <!-- Headers -->
        <thead class="size background-color">
        <tr >
            <th class="centered" scope="col" *ngFor="let sprint of sprints">{{sprint.team.prettyName}}</th>
        </tr>
        </thead>
        <!-- Rows -->
        <tbody class="size">
        <tr>
            <td class="centered size" *ngFor="let sprint of sprints">
                <app-gauge [gaugeValue]="gaugeValue(sprint)"></app-gauge>
                <p class="gauge-text-style" *ngIf="inAdvance(sprint) >=0"> En avance de
                    <span class="inAdvance-color">{{timeService.getTimeFormat(inAdvance(sprint), WORKING_HOURS_PER_DAY)}}</span></p>
                <p class="gauge-text-style" *ngIf="inAdvance(sprint) < 0"> En retard de
                    <span class="late-color">{{timeService.getTimeFormat(inAdvance(sprint), WORKING_HOURS_PER_DAY)}}</span></p>
            </td>
        </tr>
        <tr>
            <td class="size" *ngFor="let sprint of sprints">
                <b>Warning:</b><br/>
                <!-- Si champ texte vide TODO--> <div>Rien à signaler</div>
            </td>
        </tr>
        </tbody>
    </table>
</ng-container>
