.progress{
    height: 50px;
}
.progress-bar{
    font-size: 20px;
    color: black;
    padding-top: 15px;
}

.legend{
    text-align: center;
    font-size: 16px;
}

.toDoBackground{
    background-color: #c0c0c0;
}

.inProgressBackground{
    background-color: #4682B4;
}

.toTestBackground{
    background-color: #b1c113;
}

.doneBackground{
    background-color: #7a9823;
}

.legendToDO{
    fill: #c0c0c0;
}

.legendInProgress{
    fill: #4682B4;
}

.legendToTest{
    fill: #b1c113;
}

.legendDone{
    fill: #7a9823;
}

.size{
    height: 20px;
    width: 20px;
}
