<div class="progress">

    <!-- To Do Progress Bar-->

    <div class="progress-bar toDoBackground" role="progressbar"
         [style.width]="
         (((chartElement.aQualifierBacAffinnage
         + chartElement.aFaire
         + chartElement.enAttente
         + chartElement.refuseEnRecette
         )/totalStoryPoints)) * 100 + '%'"
         [attr.aria-valuemax]="totalStoryPoints">
        {{chartElement.aQualifierBacAffinnage + chartElement.aFaire + chartElement.enAttente + chartElement.refuseEnRecette}}
    </div>

    <!-- In Progress -->

    <div class="progress-bar inProgressBackground" role="progressbar"
         [style.width]="((chartElement.enCoursDevTermineTestCroise/totalStoryPoints) * 100) + '%'"
         [attr.aria-valuemax]="totalStoryPoints">
        {{chartElement.enCoursDevTermineTestCroise}}
    </div>

    <!-- To be tested-->

    <div class="progress-bar toTestBackground" role="progressbar"
         [style.width]="(((chartElement.aTester
         + chartElement.aLivrer
         )/totalStoryPoints)*100) + '%'"

         [attr.aria-valuemax]="totalStoryPoints">
        {{chartElement.aTester + chartElement.aLivrer}}
    </div>

    <!--Done-->

    <div class="progress-bar doneBackground" role="progressbar"
         [style.width]="((chartElement.valideEnRecetteLivreTermine/totalStoryPoints) * 100) + '%'"
         [attr.aria-valuemax]="totalStoryPoints">
        {{chartElement.valideEnRecetteLivreTermine}}
    </div>
</div>

<br><br><br>
<div class="legend">
    <svg class="size">
        <rect class="legendToDO size"/>
    </svg>
    A faire
    <svg class="size">
        <rect class="legendInProgress size"/>
    </svg>
    En cours
    <svg class="size">
        <rect class="legendToTest size"/>
    </svg>
    A tester
    <svg class="size">
        <rect class="legendDone size"/>
    </svg>
    Finis
</div>



