<div>
    <div>
        <div class="chart">
            <canvas baseChart
                    [data]="pieChartDataWVEC"
                    [labels]="pieChartLabelsWVEC"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
</div>
<div>
</div>
<p>
    <b>Nombre total de bugs actifs sur le projetl: </b> {{backlog.nbBugsWVEC}} <br>
</p>
