<ng-container *ngIf="backlog">
<div>
    <div>
        <div class="chart">
            <canvas baseChart
                    [data]="pieChartBugData"
                    [labels]="pieChartBugLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
</div>
<div>
</div>
<p>
    <b>Nombre total de bugs actifs sur le projet: </b> {{backlog.nbBugs}} <br>
</p>
</ng-container>

