mat-tab-group{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

mat-tab-group.mat-tab-body{
    padding-top: 25px;
}

.header-title{
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
}

div.size{
    font-size: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

div.underlined{
    text-decoration: underline;
}
