<app-progress-bar [nbSpDoneTotal]="nbSpDoneTotalTeam"
                  [nbSpTotal]="nbSpTotalTeam"
                  [nbSpEnCoursDevTermine]="nbSpEnCoursDevTermine"
                  [nbSpATester]="nbSpATester"
                  [sprint]="sprint"
></app-progress-bar>
<app-team-table [team]="team"></app-team-table>
<app-team-charts [team]="team"></app-team-charts>
<app-team-charts-role [team]="team" [role]="ROLE_FRONT"></app-team-charts-role>
<app-team-charts-role [team]="team" [role]="ROLE_MIDDLE"></app-team-charts-role>
<app-team-retrospective-bar-chart [retrospective]="retrospective"></app-team-retrospective-bar-chart>
<app-team-retrospective-line-chart [retrospective]="retrospective"></app-team-retrospective-line-chart>
