<app-progress-bar [nbSpDoneTotal]="nbSpDoneTotalTeam"
                  [nbSpTotal]="nbSpTotalTeam"
                  [nbSpEnCoursDevTermine]="nbSpEnCoursDevTermine"
                  [nbSpATester]="nbSpATester"
                  [sprint]="sprint"
></app-progress-bar>
<app-team-table [team]="team" [anonymizedNames]="anonymizedNames"></app-team-table>
<app-team-charts [team]="team"></app-team-charts>
<app-team-charts-front [team]="team" [anonymizedNames]="anonymizedNames"></app-team-charts-front>
<app-team-charts-middle [team]="team" [anonymizedNames]="anonymizedNames"></app-team-charts-middle>
<app-team-retrospective-bar-chart [retrospective]="retrospective"></app-team-retrospective-bar-chart>
<app-team-retrospective-line-chart [retrospective]="retrospective"></app-team-retrospective-line-chart>
<!-- <app-team-bootstrap-table [team]="team"></app-team-bootstrap-table> -->
